{% extends "base.html" %}

{% block content %}

    <h3>Subscription</h3>
    <form action="" method="post" novalidate>
        <!-- Write your solution here!-->
        {{ form.hidden_tag() }}
        <p>
            {{ form.coursecode.label }}<br>
            {{ form.coursecode(size=32, placeholder="Enter the course code") }}<br>
            {% for error in form.coursecode.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.neptun.label }}<br>
            {{ form.neptun(size=6, placeholder="Enter your Neptun code") }}<br>
            {% for error in form.neptun.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32, placeholder="Enter your full name") }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.iamhuman.label }}<br>
            {{ form.iamhuman() }}<br>
            {% for error in form.iamhuman.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
        <!---->
    </form>

{% endblock %}