{% extends "base.html" %}

{% block content %}
<h3>Courses</h3>
<!-- Write your solution here!-->
<table border="1">
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Students</th>
        <th>Link</th>
    </tr>
    {% for course in courses %}
    <tr>
        <td>{{course.code}}</td>
        <td>{{course.name}}</td>
        <td>
            {% if course.students %}
            <ul>
                {% for student in course.students %}
                 <li>{{student.name}}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No students in this course</p>
            {% endif %}
        </td>
        <td><a href="{{ url_for('get_students', course_code=course.code) }}">List students</a></td>
    </tr>
    {% endfor %}
</table>

<!---->
{% endblock %}